<div class="modal fade" data-show="false" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" data-bind="text: 'common.close'"></span></button>
                <h4 class="modal-title" data-bind="text: title" id="modalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="input-group col-md-12" data-bind="visible: filtering()">
                    <input type="text" class="  search-query form-control" data-bind="placeholder: 'Search', textInput: searchString" />
                    <span class="input-group-btn">
                        <button class="btn btn-regular" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <div class="alert alert-danger" role="alert" data-bind="visible: !withinLimit(), translate: 'modal.exceedsLimit'"></div>
                <div data-bind="visible: controlType() === 'checkboxes', foreach: filteredContent">
                    <div class="checkbox"><label><input type="checkbox" data-bind="checked: $parent.selected, attr: {value: value}" /><!-- ko text: label --><!-- /ko --></label></div>
                </div>
                <div data-bind="visible: controlType() === 'options', foreach: filteredContent">
                    <div class="radio"><label><input type="radio" name="modalRadio" data-bind="checked: $parent.selected, attr: {value: value}" /><!-- ko text: label --><!-- /ko --></label></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="translate: 'common.close'"></button>
                <button type="button" class="btn btn-primary" data-bind="translate: 'common.saveChanges', click: saveChanges, enable: withinLimit"></button>
            </div>
        </div>
    </div>
</div>
