<h1>Add course</h1>

<form name="addCourse">
    <fieldset>
        <legend>Name</legend>
        <label>
            Short:
            <input type="text" data-bind="value: shortName">
        </label>
        <label>
            Regular:
            <input type="text" data-bind="value: regularName">
        </label>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <label>
            Description:
            <input type="text" data-bind="value: description">
        </label>
        <label>
            Instructors:
            <input type="text" data-bind="value: instructors">
        </label>
    </fieldset>
    <fieldset>
        <legend>time</legend>
        <label>
            time:
            <input type="string" data-bind="value: time">
        </label>
    </fieldset>
    <p>
        <button data-bind="click: addCourse">Add course</button>
        <button data-bind="click: goToList">Go to list of all courses</button>
    </p>
</form>