<h1>Add course</h1>

<form name="addCourse">
    <fieldset>
        <legend>Name</legend>
        <label>
            Short:
            <input type="text" name="shortName">
        </label>
        <label>
            Regular:
            <input type="text" name="regularName">
        </label>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <label>
            Description:
            <input type="text" name="description">
        </label>
        <label>
            Instructors:
            <input type="text" name="instructors">
        </label>
    </fieldset>
    <fieldset>
        <legend>Time</legend>
        <label>
            time:
            <input type="string" name="time">
        </label>
    </fieldset>
    <p>
        <input type="submit" value="Add course">
    </p>
</form>