<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="translate: 'courses.details'"></h1>
    </div>
    <div class="panel-body">

        <p>
            <span data-bind="text: name"></span> - <span data-bind="text: shortName"></span>
        </p>
        <p>
            <span data-bind="translate: 'common.description'"></span>:&nbsp;<span data-bind="text: description"></span>
        </p>
        <p>
            <span data-bind="text: time"></span>
            <br>
            <dl class="dl-horizontal">
                <dt data-bind="translate: 'common.instructors'"></dt>
                <dd>
                    <ul data-bind="foreach: instructors" class="list-unstyled">
                        <li data-bind="text: firstName + ' ' + lastName"></li>
                    </ul>
                </dd>
                <dt data-bind="translate: 'common.locations'"></dt>
                <dd>
                    <ul data-bind="foreach: locations" class="list-unstyled">
                        <li data-bind="text: name + ' (' + location + ')'"></li>
                    </ul>
                </dd>
            </dl>
        </p>

        <br />
        <p>
            <button class="btn btn-primary" data-bind="click: edit, translate: 'common.edit'"></button>
            <button class="btn btn-danger" data-bind="click: remove, translate: 'common.remove'"></button>
            <br />
            <button class="btn btn-default" data-bind="click: goToList, translate: 'common.goToList'"></button>
            <button class="btn btn-default" data-bind="click: goToDashboard, translate: 'common.goToDashboard'"></button>
        </p>
    </div>
</div>