<ul class="list-group" data-bind="foreach: courses">
	<li class="list-group-item">
		<p>
			<span data-bind="text: name"></span> - <span data-bind="text: shortName"></span>
		</p>
		<p>
			<span data-bind="text: time"></span> - <span data-bind="text: instructors"></span>
		</p>
		<button data-bind="click: $parent.edit">Edit</button>
		<button data-bind="click: $parent.remove">Remove</button>
	</li>
</ul>

<p>
	<button data-bind="click: addCourse">Add Course</button>
	<button data-bind="click: goToDashboard">Go to dashboard</button>
</p>