<p>
    <button class="btn btn-primary" data-bind="click: addCourse, translate: 'courses.addCourse'"></button>
    <button class="btn btn-default" data-bind="click: goToDashboard, translate: 'common.goToDashboard'"></button>
    <form class="form-inline">
        <span data-bind="translate: 'common.sortBy'"></span>
        <select class="form-control" data-bind="options: sortOptions,
                           optionsText: 'displayText',
                           value: selectedSortOption"></select>

        <span data-bind="translate: 'common.filterBy'"></span>
        <select class="form-control" data-bind="options: filterOptions,
                           optionsText: 'displayText',
                           selectedOptions: selectedFilterOptions" size="5" multiple="true"></select>
        <button class="btn btn-warning" data-bind="click: removeFiltering, translate: 'common.removeFiltering'"></button>
    </form>
</p>

<ul class="list-group" data-bind="foreach: courses">
    <li class="list-group-item">
        <p>
            <span data-bind="text: name"></span> - <span data-bind="text: shortName"></span>
        </p>
        <p>
            <span data-bind="text: time"></span>

            <br>
            <dl class="dl-horizontal">
                <dt data-bind="translate: 'common.instructors'"></dt>
                <dd>
                    <ul data-bind="foreach: instructors" class="list-unstyled">
                        <li data-bind="text: firstName + ' ' + lastName"></li>
                    </ul>
                </dd>
                <dt data-bind="translate: 'common.locations'"></dt>
                <dd>
                    <ul data-bind="foreach: locations" class="list-unstyled">
                        <li data-bind="text: name + ' (' + location + ')'"></li>
                    </ul>
                </dd>
                <dt data-bind="translate: 'common.users'"></dt>
                <dd>
                    <span data-bind="text: users().length"></span>
                </dd>
            </dl>
        </p>
        <button class="btn btn-primary" data-bind="click: $parent.details, translate: 'common.details'"></button>
        <button class="btn btn-primary" data-bind="click: $parent.edit, translate: 'common.edit'"></button>
        <button class="btn btn-danger" data-bind="click: $parent.remove, translate: 'common.remove'"></button>
    </li>
</ul>