<ul class="list-group" data-bind="foreach: courses">
    <li class="list-group-item">
        <p>
            <span data-bind="text: name"></span> - <span data-bind="text: shortName"></span>
        </p>
        <p>
            <span data-bind="text: time"></span>
            <ul data-bind="foreach: instructors">
                <li data-bind="text: firstName + ' ' + lastName"></li>
            </ul>
        </p>
        <button class="btn btn-primary" data-bind="click: $parent.details">Details</button>
        <button class="btn btn-primary" data-bind="click: $parent.edit">Edit</button>
        <button class="btn btn-danger" data-bind="click: $parent.remove">Remove</button>
    </li>
</ul>

<p>
    <button class="btn btn-primary" data-bind="click: addCourse">Add Course</button>
    <button class="btn btn-default" data-bind="click: goToDashboard">Go to dashboard</button>
</p>