<h1 data-bind="visible: addMode">Add User</h1>
<h1 data-bind="visible: !addMode">Edit User</h1>

<form name="addUser">
    <fieldset>
        <legend>Name</legend>
        <label>
            First:
            <input type="text" data-bind="value: firstName">
        </label>
        <label>
            Last:
            <input type="text" data-bind="value: lastName">
        </label>
    </fieldset>
    <fieldset>
        <legend>Personal details</legend>
        <label>
            Email:
            <input type="email" data-bind="value: email">
        </label>
        <label>
            phone:
            <input type="number" data-bind="value: phone">
        </label>
    </fieldset>
    <fieldset>
        <legend>Classes (comma delimited):</legend>
        <label>
            Classes:
            <input type="string" data-bind="value: classes">
        </label>
    </fieldset>
    <p>
        <button class="btn btn-success" data-bind="click: add, visible: addMode">Add User</button>
        <button class="btn btn-success" data-bind="click: save, visible: !addMode">Save User</button>
        <button class="btn btn-default" data-bind="click: goToList">Go to list of all users</button>
    </p>
</form>