<h1 data-bind="visible: addMode, translate: 'pouches.addPouch'"></h1>
<h1 data-bind="visible: !addMode, translate: 'pouches.editPouch'"></h1>

<form name="addPouch">
    <fieldset>
        <legend data-bind="translate: 'pouches.details'"></legend>
        <label>
            <span data-bind="translate: 'common.name'"></span>
            <input type="text" data-bind="value: name">
        </label>
        <label>
            <span data-bind="translate: 'common.owner'"></span>
            <input type="text" data-bind="value: owner">
        </label>
        <label>
            <span data-bind="translate: 'common.balance'"></span>
            <input type="text" data-bind="value: balance">
        </label>
    </fieldset>
    <p>
        <button class="btn btn-success" data-bind="click: add, visible: addMode, translate: 'pouches.addPouch'"></button>
        <button class="btn btn-success" data-bind="click: save, visible: !addMode, translate: 'pouches.savePouch'"></button>
        <button class="btn btn-default" data-bind="click: goToList, translate: 'pouches.listOfAll'"></button>
    </p>
</form>