<h1 data-bind="visible: addMode, translate: 'users.addUser'"></h1>
<h1 data-bind="visible: !addMode, translate: 'users.editUser'"></h1>

<form name="addUser">
    <fieldset>
        <legend data-bind="translate: 'common.name'"></legend>
        <label>
            <span data-bind="translate: 'common.firstName'"></span>
            <input type="text" data-bind="value: firstName">
        </label>
        <label>
            <span data-bind="translate: 'common.lastName'"></span>
            <input type="text" data-bind="value: lastName">
        </label>
    </fieldset>
    <fieldset>
        <legend data-bind="translate: 'common.personalDetails'"></legend>
        <label>
            <span data-bind="translate: 'common.email'"></span>
            <input type="email" data-bind="value: email">
        </label>
        <label>
            <span data-bind="translate: 'common.phone'"></span>
            <input type="number" data-bind="value: phone">
        </label>
    </fieldset>
    <fieldset>
        <legend data-bind="translate: 'users.classesList'"></legend>
        <label>
            <span data-bind="translate: 'common.classes'"></span>
            <input type="string" data-bind="value: classesList">
        </label>
    </fieldset>
    <p>
        <button class="btn btn-success" data-bind="click: add, visible: addMode, translate: 'users.addUser'"></button>
        <button class="btn btn-success" data-bind="click: save, visible: !addMode, translate: 'users.saveUser'"></button>
        <button class="btn btn-default" data-bind="click: goToList, translate: 'users.listOfAll'"></button>
    </p>
</form>