<h1 data-bind="visible: addMode, translate: 'locations.addLocation'"></h1>
<h1 data-bind="visible: !addMode, translate: 'locations.editLocation'"></h1>

<form name="addLocation">
    <fieldset>
        <legend data-bind="translate: 'locations.details'"></legend>
        <label>
            <span data-bind="translate: 'common.name'"></span>
            <input type="text" data-bind="value: name">
        </label>
        <label>
            <span data-bind="translate: 'common.description'"></span>
            <input type="text" data-bind="value: description">
        </label>
    </fieldset>
    <fieldset>
        <legend data-bind="translate: 'common.address'"></legend>
        <label>
            <span data-bind="translate: 'common.location'"></span>
            <input type="text" data-bind="value: location">
        </label>
        <label>
            <span data-bind="translate: 'common.address'"></span>
            <input type="text" data-bind="value: address">
        </label>
        <label>
            <span data-bind="translate: 'common.street'"></span>
            <input type="text" data-bind="value: street">
        </label>
        <label>
            <span data-bind="translate: 'common.city'"></span>
            <input type="text" data-bind="value: city">
        </label>
        <label>
            <span data-bind="translate: 'common.code'"></span>
            <input type="text" data-bind="value: code">
        </label>
    </fieldset>
    <p>
        <button class="btn btn-success" data-bind="click: add, visible: addMode, translate: 'locations.addLocation'"></button>
        <button class="btn btn-success" data-bind="click: save, visible: !addMode, translate: 'locations.saveLocation'"></button>
        <button class="btn btn-default" data-bind="click: goToList, translate: 'locations.listOfAll'"></button>
    </p>
</form>