<h1 data-bind="visible: addMode">Add course</h1>
<h1 data-bind="visible: !addMode">Edit course</h1>

<form name="addCourse">
    <fieldset>
        <legend>Name</legend>
        <label>
            Short:
            <input type="text" data-bind="value: shortName">
        </label>
        <label>
            Regular:
            <input type="text" data-bind="value: regularName">
        </label>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <label>
            Description:
            <input type="text" data-bind="value: description">
        </label>
        <label>
            Instructors:
            <input type="text" data-bind="value: instructors">
        </label>
    </fieldset>
    <fieldset>
        <legend>time</legend>
        <label>
            time:
            <input type="string" data-bind="value: time">
        </label>
    </fieldset>
    <p>
        <button class="btn btn-success" data-bind="click: add, visible: addMode">Add course</button>
        <button class="btn btn-success" data-bind="click: save, visible: !addMode">Save course</button>
        <button class="btn btn-default" data-bind="click: goToList">Go to list of all courses</button>
    </p>
</form>