<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="translate: 'entry.details'"></h1>
    </div>
    <div class="panel-body">
        <p>
            <span data-bind="text: courseName"></span> - <span data-bind="text: comments"></span>
        </p>
        <p>
            <span data-bind="text: startDate"></span> - <span data-bind="text: endDate"></span>
        </p>

        <p>
            <div>
                <span data-bind="translate: 'entry.subscribedUsers'"></span>
                <span class="btn btn-default btn-xs pull-right" data-bind="translate: 'entry.addUser', click: addUser"></span>
            </div>
            <br/>
            <div data-bind="foreach: courseUsers" class="list-group">
                <div class="list-group-item">
                    <a data-bind="text: firstName + ' ' + lastName, click: $parent.showUser"></a>
                    <div class="pull-right">
                        <a data-bind="click: $root.markAsPresent, translate: 'entry.markAsPresent'"></a>
                        <a data-bind="click: $root.markAsMissed, translate: 'entry.markAsMissed'"></a>
                    </div>
                </div>
            </div>
        </p>

        <p>
            <dl class="dl-horizontal">
                <dt>
                    <div>
                        <span data-bind="translate: 'entry.actualInstructors'"></span>
                        <span class="btn btn-default btn-xs pull-right" data-bind="translate: 'entry.addInstructor', click: addInstructor"></span>
                    </div>
                </dt>
                <dd>
                    <ul data-bind="foreach: actualInstructors" class="list-unstyled">
                        <li>
                            <a data-bind="text: ($index() + 1) + ': ' + firstName + ' ' + lastName, click: $parent.showInstructor"></a>
                            <div class="pull-right">
                                <a data-bind="click: $root.removeInstructor, translate: 'common.remove'"></a>
                            </div>
                        </li>
                    </ul>
                </dd>

                <dt>
                    <span data-bind="translate: 'entry.actualUsers'"></span>
                    <span data-bind="text: '(' + actualUsers().length + ')'"></span>
                </dt>
                <dd>
                    <ul data-bind="foreach: actualUsers" class="list-unstyled">
                        <li>
                            <a data-bind="text: ($index() + 1) + ': ' + firstName + ' ' + lastName, click: $parent.showUser"></a>
                            <div class="pull-right">
                                <a data-bind="click: $root.removeFromActualUsers, translate: 'common.remove'"></a>
                            </div>
                        </li>
                    </ul>
                </dd>

                <dt>
                    <span data-bind="translate: 'entry.missedUsers'"></span>
                    <span data-bind="text: '(' + missedUsers().length + ')'"></span>
                </dt>
                <dd>
                    <ul data-bind="foreach: missedUsers" class="list-unstyled">
                        <li>
                            <a data-bind="text: ($index() + 1) + ': ' + firstName + ' ' + lastName, click: $parent.showUser"></a>
                            <div class="pull-right">
                                <a data-bind="click: $root.removeFromMissedUsers, translate: 'common.remove'"></a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </p>
        <br />
        <p>
            <button class="btn btn-default" data-bind="click: goToDashboard, translate: 'common.goToDashboard'"></button>
            <button class="btn btn-danger pull-right" data-bind="click: remove, translate: 'common.remove'"></button>
        </p>
    </div>
</div>
