<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="translate: 'resetPassword.title'"></h1>
    </div>

    <div class="panel-body">
        <div class="alert alert-success" role="alert" data-bind="visible: hasBeenSent">
            <strong data-bind="translate: 'resetPassword.successMessage1'"></strong> <span data-bind="translate: 'resetPassword.successMessage2'"></span>
        </div>
        <form role="form">
            <fieldset>
                <legend data-bind="translate: 'common.email'"></legend>

                <label>
                    <span data-bind="translate: 'common.email'"></span>
                    <input type="email" class="form-control input-lg" placeholder="Please enter email" name="email" data-bind="value: email, disable: hasBeenSent">
                </label>
            </fieldset>
            <br/>
            <p>
                <button class="btn btn-primary btn-block" data-bind="click: reset, disable: hasBeenSent, translate: 'resetPassword.resetPassword'"></button>
            </p>
        </form>
        <br />
        <div class="list-group">
            <a class="list-group-item" href="#login" data-bind="translate: 'common.displayLogin'"></a>
        </div>
    </div>
</div>