<h1>Login</h1>

<form role="form">
    <fieldset>
        <legend>Credentials</legend>

        <p class="error"></p>

        <label>
            Email:
            <input type="email" class="form-control input-lg" placeholder="Please enter email" name="email">
        </label>

        <br />

        <label>
            Password:
            <input type="password" class="form-control input-lg" placeholder="Please enter password" name="password">
        </label>
    </fieldset>
    <p>
        <input type="submit" class="btn btn-primary" value="Login">
    </p>
</form>

<ul>
    <li><a href="#register">Sign up</a></li>
    <li><a href="#forgotpassword">Forgot password?</a></li>
</ul>