<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Login</h1>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" data-bind="visible: validationFailed">
            <strong>Unable to login!</strong> Check your credentials and try again.
        </div>

        <form role="form" class="form-horizontal">
            <fieldset>
                <legend>Credentials</legend>

                <label>
                    Email:
                    <input type="email" class="form-control input-lg" placeholder="Please enter email" name="email" data-bind="value: email">
                </label>

                <br />

                <label>
                    Password:
                    <input type="password" class="form-control input-lg" placeholder="Please enter password" name="password" data-bind="value: password">
                </label>
            </fieldset>
            <br />
            <p>
                <button class="btn btn-primary btn-block" data-bind="click: login">Login</button>
            </p>
        </form>

        <br />
        <div class="list-group">
            <a class="list-group-item" href="#register">Sign up</a>
            <a class="list-group-item" href="#forgotpassword">Forgot password?</a>
        </div>
    </div>
</div>
