<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="translate: 'login'"></h1>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" data-bind="visible: validationFailed, translate: {key: 'login.unable', html: true}"></div>

        <form role="form" class="form-horizontal">
            <fieldset>
                <legend data-bind="translate: 'login.credentials'"></legend>

                <label>
                    <!-- ko translate: 'login.email' --><!-- /ko -->:
                    <input type="email" class="form-control input-lg" name="email" data-bind="value: email, placeholder: 'login.placeholder.email'">
                </label>

                <br />

                <label>
                    <!-- ko translate: 'login.password' --><!-- /ko -->:
                    <input type="password" class="form-control input-lg" name="password" data-bind="value: password, placeholder: 'login.placeholder.password'">
                </label>
            </fieldset>
            <br />
            <p>
                <button class="btn btn-primary btn-block" data-bind="click: login, translate: 'login.loginButton'"></button>
            </p>
        </form>

        <br />
        <div class="list-group">
            <a class="list-group-item" href="#register" data-bind="translate: 'login.signUp'"></a>
            <a class="list-group-item" href="#forgotpassword" data-bind="translate: 'login.forgotPassword'"></a>
        </div>
    </div>
</div>
