<ul class="list-group" data-bind="foreach: pouches">
    <li class="list-group-item">
        <p>
            <strong data-bind="text: name"></strong> - <span data-bind="text: owner"></span>
        </p>
        <p>
            <strong data-bind="text: balance"></strong> (<span data-bind="translate: 'common.basedOn'"></span> <span data-bind="text: operations ? operations().length : 0"></span> <span data-bind="translate: 'common.operations'"></span>)
        </p>
        <p>
            <span data-bind="translate: 'common.created'"></span>: <span data-bind="text: new Date(created())"></span><br />
            <span data-bind="translate: 'common.lastUpdated'"></span>: <span data-bind="text: new Date(lastUpdated())"></span><br />
        </p>
        <button class="btn btn-primary" data-bind="click: $parent.details, translate: 'common.details'"></button>
        <button class="btn btn-primary" data-bind="click: $parent.edit, translate: 'common.edit'"></button>
        <button class="btn btn-danger" data-bind="click: $parent.remove, translate: 'common.remove'"></button>
    </li>
</ul>

<p>
    <button class="btn btn-primary" data-bind="click: addPouch, translate: 'pouches.addPouch'"></button>
    <button class="btn btn-default" data-bind="click: goToDashboard, translate: 'common.goToDashboard'"></button>
</p>