<ul class="list-group" data-bind="foreach: pouches">
    <li class="list-group-item">
        <p>
            <strong data-bind="text: name"></strong> - <span data-bind="text: owner"></span>
        </p>
        <p>
            <strong data-bind="text: balance"></strong> (based on <span data-bind="text: operations ? operations().length : 0"></span> operations)
        </p>
        <p>
            Created: <span data-bind="text: new Date(created())"></span><br />
            Last updated: <span data-bind="text: new Date(lastUpdated())"></span><br />
        </p>
        <button class="btn btn-primary" data-bind="click: $parent.details">Show details</button>
        <button class="btn btn-primary" data-bind="click: $parent.edit">Edit</button>
        <button class="btn btn-danger" data-bind="click: $parent.remove">Remove</button>
    </li>
</ul>

<p>
    <button class="btn btn-primary" data-bind="click: addPouch">Add Pouch</button>
    <button class="btn btn-default" data-bind="click: goToDashboard">Go to dashboard</button>
</p>