<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Pouch details</h1>
    </div>
    <div class="panel-body">

        <p>
            <strong data-bind="text: name"></strong> - <span data-bind="text: owner"></span>
        </p>
        <p>
            <strong data-bind="text: balance"></strong> (based on <span data-bind="text: operations ? operations().length : 0"></span> operations)
        </p>
        <p>
            Created: <span data-bind="text: created"></span><br />
            Last updated: <span data-bind="text: lastUpdated"></span><br />
        </p>

        <ul class="list-group" data-bind="foreach: operations">
            <li class="list-group-item" data-bind="text: amount + ' (' + who + ')' + ($data.comment || '')"></li>
        </ul>

        <div> Add operation

            <form role="form" class="form-horizontal">
                <fieldset>
                    <label>
                        Who:
                        <input type="text" class="form-control input-lg" placeholder="Who should be listed as author" name="who" data-bind="value: who">
                    </label>

                    <br />

                    <label>
                        Description:
                        <input type="text" class="form-control input-lg" placeholder="Please enter description" name="comment" data-bind="value: comment">
                    </label>
                    <label>
                        Description:
                        <input type="number" class="form-control input-lg" placeholder="Please enter amount" name="amount" data-bind="value: amount">
                    </label>
                </fieldset>
                <br />
                <p>
                    <button class="btn btn-primary btn-block" data-bind="click: addOperation">Add Operation</button>
                </p>
            </form>
        </div>

        <br />
        <p>
            <button class="btn btn-primary" data-bind="click: edit">Edit</button>
            <button class="btn btn-danger" data-bind="click: remove">Remove</button>
            <br />
            <button class="btn btn-default" data-bind="click: goToList">Go to list</button>
            <button class="btn btn-default" data-bind="click: goToDashboard">Go to dashboard</button>
        </p>
    </div>
</div>