<h1>Register</h1>

<form>
    <fieldset>
        <legend>Your Name</legend>
        <label>
            First:
            <input type="text" name="firstName">
        </label>
        <label>
            Last:
            <input type="text" name="lastName">
        </label>
    </fieldset>
    <fieldset>
        <legend>Email</legend>
        <label>
            Email:
            <input type="text" name="email">
        </label>
        <label>
            Confirm Email:
            <input type="text" name="cemail">
        </label>
    </fieldset>
    <fieldset>
        <legend>Password</legend>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <label>
            Confirm Password:
            <input type="password" name="cpassword">
        </label>
    </fieldset>
    <p>
        <input type="submit" value="Register now">
    </p>
</form>