<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="translate: 'users.details'"></h1>
    </div>
    <div class="panel-body">

        <p>
            <span data-bind="text: firstName() + ' ' + lastName()"></span>
        </p>
        <p>
            <span data-bind="text: email"></span> - <span data-bind="text: phone"></span>
        </p>
        <ul class="list-group" data-bind="foreach: classes">
            <li class="list-group-item" data-bind="text: name + ' - ' + shortName"></li>
        </ul>

        <br />
        <p>
            <button class="btn btn-primary" data-bind="click: edit, translate: 'common.edit'"></button>
            <button class="btn btn-danger" data-bind="click: remove, translate: 'common.remove'"></button>
            <br />
            <button class="btn btn-default" data-bind="click: goToList, translate: 'common.goToList'"></button>
            <button class="btn btn-default" data-bind="click: goToDashboard, translate: 'common.goToDashboard'"></button>
        </p>
    </div>
</div>