doctype html
html(lang="en")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(data-main='js/main', type='text/javascript',src='js/libs/require.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    div#content
